# Python virtual environment
venv311/
venv/
__pycache__/
*.pyc

logs/
*.log
Fetch_LiveData/logs/

Fetch_LiveData/DataStored/*.csv
*.csv

.env

.DS_Store
Thumbs.db

./nse_data
nse_data/
Fetch_LiveData/nse_data/